<body><p>ID: {{user.id}}</p>
<p>Your Username: {{user.name}}</p>
<p>Your Instagram ID:{{user.ig_id}}</p>
<p><a href="/">Not You?</a></p>

<h1><a href="/c3visualization">View C3 visualization</a></h1>
<br/>
<h1><a href="/visualization">View D3 visualization</a></h1>

</body>
