<h1>Welcome!</h1>

<h1><img src="http://icons.iconarchive.com/icons/uiconstock/socialmedia/512/Instagram-icon.png" style="width:400px;height:400px"></h1>

<a href="/auth/instagram"><h1>Login to Instagram to Continue</h1></a>

<br/>
